<nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
	 <img src="/image/bang_soundeffect.svg" height="40" width="50" alt="Brand Logo">
	 </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/comics">Comics</a>
        </li>
		
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/comics/genre/anime">Anime</a></li>
            <li><a class="dropdown-item" href="/comics/genre/manga">Manga</a></li>
            <li><a class="dropdown-item" href="/comics/genre/sci-fi">Sci-Fi</a></li>
			<li><a class="dropdown-item" href="/comics/genre/thriller">Thriller</a></li>
			<li><a class="dropdown-item" href="/comics/genre/horrer">Horrer</a></li>
          </ul>
		  
		  <% if(user) { %>
			 </li>
			  <li class="nav-item">
			  <a class="nav-link active" aria-current="page" href="/comics/new">Add Comics</a>
			 </li>
			
			  <li class="nav-item">
				<a class="nav-link" href="/logout"> Log Out</a>
			  </li>
		  <% } else{ %>
			  <li class="nav-item">
				<a class="nav-link" href="/login"> Log In </a>
			  </li>
		  
			  <li class="nav-item">
				<a class="nav-link" href="/signup"> Sign Up</a>
			  </li>
		  <% }%>
		  
		  
		  
      </ul>
      <form class="d-flex" action="/comics/search" method="GET">
        <input class="form-control me-2" type="search" placeholder="Search" name="keyword" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>